<h1> On Lists </h1>

<p>
  There are moments when I feel very scattered while learning to program.
  When I am immersed in figuring out a particular coding challenge, I feel focused
  and the time flies by; however, when I emerge from the cloud of deep problem-solving
  thought, I often feel overwhelmed with the amount of things that I could be doing to
  advance my education. Always there are videos to watch, tutorials to run through,
  projects to build and continually work on, people to network with, articles to read, on and on.
</p>

<p>
  Enter <a href="http://www.trello.com" target="_blank">Trello</a>.
</p>

<p>
  <img src="/trello.png">
</p>

<p>
  Trello is “the easy, free, and visual way to organize your important stuff."
  It is essentially a visual, list-based online project management tool.
  I have been using it to organize my Ada projects and I think it is wonderful.
</p>

<p>
  For the last two weeks at Ada, we were working on creating our personal blogs
  (which you are so kindly reading now!). When I was creating this site, it was
  very easy to dive into structuring the HTML, formatting the CSS and tweaking
  the JavaScript (make sure to check out my konami easter egg on the dessert page!)
  haphazardly without any long term plan for what I wanted to accomplish.
  When I started writing out and organizing lists of what I wanted to accomplish
  on Trello my workflow improved dramatically because I could move from task to
  task quickly without staring at my screen slackjawed wondering what to do next.
</p>
