<h1>Rachel Moshier</h1>

<img src="mongolia.jpg" alt="me in Mongolia">

<p> In the fall of 2014, Rachel left the exciting world of international development
  to start a career in software development. Besides software development, her interests include
  food policy, nutrition, land mapping, biology, outer space, and meditation. She is currently based in Seattle, WA. </p>

<!-- To do:
Add links back in anc change CSS so they show as a differnt color (not background color)
-->
