<h1></h1>

<br>

<!-- <div class="link-color">
<% @posts.each do |post| %>
  <a id =""href="<%=post.url %>"><%= post.title %></a>
<% end %>
</div> -->
<!-- <hr>
Params: <%= params.inspect %>
<hr>
<form action="/" method="POST">
  First Name:
    <input type="text" name="first_name" />
  Last Name:
    <input type="text" name="last_name" />
  Password:
    <input type="password" name="password" />
    <input type="submit" />
</form> -->

<!-- <code>
  <pre>
    <!-- this indents your stuff and renders it the indented html -->
    <!-- class Rachel
      def initialize
      end
    end
  </pre>
</code> -->
