<!-- <DOCTYPE html> -->
  <!-- <html> -->

    <head>
      <title>Rachel Moshier</title>
      <link href="/css/styles.css" media="all" rel="stylesheet">
      <script src="/javascripts/app.js"></script>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>

    <body>
      <header>
        <span class="link-color">
          <nav>
            <ul class="navbar">
              <li><a href="/">rm</a></li>

              <li><a href = "/about-me">about</a></li>

              <!-- <li><a href = "/contact">contact</a></li> -->

              <li><a href = "/posts/first_post">thoughts</a></li>

              <li><a href = "/pudding_experience">dessert</a></li>
            </ul>
          </nav>
        </span>
      </header>

      <div id="content">
      <%= yield %>
      </div>

    </body>
<!-- </html> -->
