<!DOCTYPE html>

  <html>
    <head>
      <title>Rachel Moshier</title>
      <!-- Best practice is to put your scripts at the bottom right above body closing tag. -->
      <link href="/css/styles.css" media="all" rel="stylesheet">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>

    <body>
      <header>
        <ul class="navbar">
          <li><a href="/">rm</a></li>

          <li><a href = "/about-me">about</a></li>

          <li>thoughts
            <ul class="dropdown">
              <% @posts.each do |post| %>
                <li> <a href=<%=post.url%>><%=post.title%></a> </li>
                <% puts post.title %>
              <% end %>
            </ul>
          </li>

          <li><a href = "/pudding_experience">dessert</a></li>
        </ul>
      </header>

      <div class="content">
        <%= yield %>
      </div>

      <footer>
        <ul class="footerbar">
          <li><a href="/">rm</a></li>
          <li><a href="http://www.linkedin.com/in/rmoshier/" target="_blank">linkedin</a></li>
          <li><a href="https://twitter.com/rsmomo" target="_blank">twitter</a></li>
          <li><a href="https://github.com/rmoshier" target="_blank">github</a></li>
        </ul>
      </footer>

      <script src="/javascripts/jquery-2.1.1.min.js"></script>
      <script src="/javascripts/app.js"></script>
      <!-- this is for perceived performance -->
      <!-- // <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script> -->
      <!-- <link rel= "javascript stylesheet" href="./javascripts/app.js" type="text.js" /> -->
      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>`
      <script src="jquery.konami.js" type="text/javascript"></script>

    </body>
  </html>
