<DOCTYPE html>
  <html>

    <head>
      <link href="/css/styles.css" media="all" rel="stylesheet">

    </head>

    <body>
      <center>
      <a href = "/">Home</a>
      <a href = "/about-me">About Me</a>
      <a href = "/cute_pictures_of_animals">My Cats</a>
      <a href = "/posts/first_post">Blog</a>
      <a href = "/pudding_experience">Pudding Experience</a>

      <hr>

      <%= yield %>

      <hr>
      <a href = "/">Home</a>

    </body>

</html>
