<!DOCTYPE html>

  <html>
    <head>
      <title>Rachel Moshier</title>
      <link href="/css/styles.css" media="all" rel="stylesheet">
      <script src="/javascripts/app.js"></script>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>

    <body>
      <header>
        <ul class="navbar">
          <li><a href="/">rm</a></li>

          <li><a href = "/about-me">about</a></li>

          <!-- <li><a href = "/contact">contact</a></li> -->

          <li>thoughts
            <ul class="dropdown">

              <% @posts.each do |post| %>
              <li> <a href=<%=post.url%>><%=post.title%></a> </li>
              <% puts post.title %>
              <% end %>
            </ul>
          </li>
          <li><a href = "/pudding_experience">dessert</a></li>
        </ul>
      </header>

      <div class="content">
        <%= yield %>
      </div>

      <footer>
        <ul class="footerbar">
          <li><a href="/">rm</a></li>
          <li><a href="http://www.linkedin.com/in/rmoshier/" target="_blank">linkedin</a></li>
          <li><a href="https://twitter.com/rsmomo" target="_blank">twitter</a></li>
          <li><a href="https://github.com/rmoshier" target="_blank">github</a></li>
        </ul>
      </footer>

    </body>
  </html>
