/* backgrounds */

body {
  background: rgb(251, 246, 226);
  margin: 0 0 0 0;
}

/* lay out */

.content {
  margin: 4em auto 4em 2em;
  width: 1000px
}

/* typography */

h1 {
  font-size: 2em;
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(107, 122, 130);
  letter-spacing: 1px;
  text-transform: none;
  line-height: 1.4em;
}

p {
  font-size:1em;
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(107, 122, 130);
  text-transform: none;
  line-height: 1.4em;
}

/* header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 1em;
  top: 0;
  left: 0;
  padding: 0 0 25px 0;
  background-size: 30%;
  background-color: rgb(170, 137, 0);
}

header li {
  list-style: none;
  float: left;
  padding: 3px 5px 0 5px;
  margin-top: -10px;
  /* this is where i can play with words in nav spacing*/
}

header li a {
  text-decoration: none;
  color: rgb(251, 246, 226);
}

header li a:hover {
  color: rgb(102, 112, 3);
}

.navbar {
  padding-left: 28px;
}

/* video */
video {
  margin: 0 10% 0 10%;
}


/* links */

a {
  /*:visited*/
  font-family: 'Open Sans', serif;
  color: rgb(107, 122, 130);
  text-decoration: underline;
}

/* footer */

footer {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-size: 30%;
  font-family: 'Open Sans', serif;
  background-color: #eee8d5;
  color: #93a1a1;
  padding-left: 30px;
  line-height: 200%;
  padding-right: 1em;
  bottom: 0;
}
