/* backgrounds */

body {
  background: rgb(251, 246, 226);
}

/* typography */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 1em;
  top: 0;
  left: 0;
  padding-bottom: 25px;
  background-size: 30%;
  background-color: rgb(170, 137, 0);
}

header li {
  float: left;
  padding: 3 5px 0 5px;
  margin-top: -10px;
  /* this is where i can play with words in nav spacing*/
}

header li a {
  text-decoration: none;
}

header li a:hover {
  color: rgb(102, 112, 3);
}

#content {
  margin: 4em auto 0 2em;
  width: 1000px
}

h1, p {
  font-size:2em;
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(107, 122, 130);
  letter-spacing: 1px;
  text-transform: none;
  line-height: 1.4em;
}

p {
  font-size:1em;
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(107, 122, 130);
  letter-spacing: 1px;
  text-transform: none;
  line-height: 1.4em;
}

h2 {
  font-size: 1em;
}

.user-bar {
  margin: 5;
  padding: 5;
}

:link,:visited {
  font-family: 'Open Sans', serif;
  color: rgb(251, 246, 226);
}
