<h1>On Rails and White Allyship</h1>

<p>
  The Ada Developers Academy is a year-long intensive training program for women
  transitioning into software development. The program aims to upset the white
  male dominated culture of the technology industry by training and supporting
  highly skilled women regardless of race, sexual orientation, and financial ability.
  I am proud to be a current student in the second cohort ever. I selected Ada
  not only to learn a new craft, but also to be a part of the feminist movement in tech.
</p>

<p>***</p>

<p>
  Rails is the massive web framework for the Ruby programming language, and here
  at Ada it represents the bulk of our substantive work in the program. Many well
  known websites have been built using Ruby on Rails (including Twitter, Groupon,
  AirBnB, Soundcloud and Hulu, to name a few), so it is clear why budding web
  developers like myself should spend ample time getting comfortable with and
  productive in the framework.
</p>

<p>***</p>

<p>
  Many Adies, myself included, were really nervous to start learning Rails.
  Everything from installation, to navigating the generated files, to debugging
  was new and intimidating. In fact, our instructor planned for us to have a
  three day weekend immediately before diving into the Rails curriculum because
  he was concerned about our mental health during the first week.
</p>

<p>
  Now that I have about six week of learning Rails under my belt, I can say that
  what I’ve learned the most is that I’m never going to learn it all. And I’m OK
   with that. Being a successful software developer (and Adie in particular) is
   more about how you handle unknown situations, technologies, experiences rather
   than how much information you can cram into your brain. It is very possible
   that next year when I enter the workforce as a developer, I will work at a
   company that doesn’t use Ruby on Rails. I need to be comfortable confident
   walking into an organization not knowing it all. Learning software engineering
   is a process and it is more important that I continually make progress rather
   than knowing it all now.
</p>

<p>***</p>

<p>
  Having come from the female-heavy international development sector, my transition
  into software development also marked the first time I represented a minority group
  in my school or workplace. I was excited for the amazing nature of the program,
  but I was also scared to walk into an industry where so many women have experienced
  blatant misogyny and harassment.
</p>

<p>
  What I didn’t realize coming into Ada was that being a minority for the first
  time myself would force me to evaluate my own privilege that I’ve enjoyed since birth.
  Realizing that my white privilege has many overlapping characteristics with the male
   privilege that I was so excited about addressing at Ada has been a really hard pill
    to swallow. However, being aware of this privilege is an important first step in
    being an ally for people of color.
</p>

<p>***</p>

<p>
  Like my knowledge of Rails, I am never going to score 100% in allyship - and
  that isn’t the point. The point is to be on the spectrum and to be continually
  moving towards being better at what you are working on, whether it is a mastering
  a web framework, or slowly working to combat racism.
</p>
